{% include 'header.html' %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/experience-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-10 col-xl-10">
        <div class="page-heading">
          <span>My professional  experience</span>
<!--          <span class="subheading">Some I've worked on</span>-->
        </div>
      </div>
    </div>
  </div>
</header>
<main>
<div class="container">
    <h5>Software Engineer - Scientific Games (Remote)</h5>
    <p>- Developed, tested, and maintained flutter apps for different loterie jurisdictions</p>
    <p>- Utilized Flutter/Dart and MVVM pattern for iOS and Android</p>
    <p>- Azure devOps for version control and Jira for task management</p>
    <br>

    <h5>Flutter Engineer - Halen (Remote)</h5>
    <p>- Designed, tested, and maintained Halen app, a user-friendly super-app that provides convenient services including ride-share, food, grocery, retail delivery, flight booking and vacation rentals</p>
    <p>- Integrated google sign in and google maps </p>
    <p>- Utilized Flutter/Dart and BLoC pattern for iOS and Android,  gitlab for version control</p>
    <br>

    <h5>Software Engineer - Noble Applications (Remote)</h5>
    <p>- Developed, tested, implemented Android apps using Kotlin/Java</p>
    <p>- Worked with experienced team members to conduct root cause analysis of issues, reviewed new and existing code and/or perform unit testing </p>
    <p>- Experienced publishing apps on Google Play store</p>
    <br>

    <h5>Software Engineer - Rutherford & Associates</h5>
    <p>- Designed, coded, deployed, and tested applications according to the user stories/requirements and industry best practices using Dart (Flutter)</p>
    <p>- Further developed existing programs for fixes or improvements by analyzing and identifying the areas for modification </p>
    <p>- Conducted code-review and unit tests with other developers</p>
    <p>- Assisted in development and peer review of plans, technical solutions, and related documentation </p>
    <br>
</div>
</main>
{% include 'footer.html' %}
