{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg-2.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-10 col-xl-10">
        <div class="site-heading">
          <h1>Hello! Christian Here</h1>
          <span class="subheading py-5">I'm a software developer based in Washington, DC</span>
          <hr class="py-5">
          <span class="py-5">Welcome!</span>
        </div>
      </div>
    </div>
  </div>
</header>

{% include "footer.html" %}
