{% include 'header.html' %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/projects-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-10 col-xl-10">
        <div class="page-heading">
          <span>Some projects I've worked on</span>
<!--          <span class="subheading">Some I've worked on</span>-->
        </div>
      </div>
    </div>
  </div>
</header>
<!--  Projects-->
<div class="container px-4 py-1" id="custom-cards">
  <div class="vegan_bestie">
    <a href="https://www.instagram.com/vgbestie/" >
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/assets/img/vegan_bestie_logo.png')">
            <div class="d-flex flex-column h-100 py-5 my-5 px-5 display-6 lh-4 text-green text-shadow-1"></div>
          </div>
        </div>
        <div>
          <h4 class="fw-bold">Vegan Bestie</h4>
          <p class="mb-4 ">app that scans the barcode of food products and indicates if they’re vegan, and finds vegan friendly restaurants nearby</p>
        </div>
      </div>
    </a>
  </div>

<!--  <div class="vegan_bestie">-->
<!--    <a href="#" >-->
<!--      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">-->
<!--        <div class="col">-->
<!--          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/assets/img/vegan_bestie_logo.png')">-->
<!--            <div class="d-flex flex-column h-100 py-5 my-5 px-5 display-6 lh-4 text-green text-shadow-1"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <h4 class="fw-bold">Vegan Bestie</h4>-->
<!--          <p class="mb-4 ">app that scans the barcode of food products and indicates if they’re vegan, and finds vegan friendly restaurants nearby</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
</div>


{% include 'footer.html' %}